@tailwind base;
@tailwind components;
@tailwind utilities;

.DropdownMenuContent {
  position: relative;
  top: 12px;
  right: 15px;
  min-width: 220px;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.DropdownMenuContent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.buttonaside::after {
  position: absolute;
  content: '';
  display: block;

  bottom: -10px;
  left: 0;

  background: rgb(240, 240, 240);

  width: 100%;
  height: 2px;

  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.buttonaside:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.settingUnderline::after {
  position: absolute;
  content: '';
  bottom: -10px;
  left: 0;
  background: #138859;
  width: 100%;
  height: 2px;
}
