@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@radix-ui/colors/blackA.css';

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.DropdownMenuContent {
  position: relative;
  top: 12px;
  right: 15px;
  min-width: 220px;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.DropdownMenuContent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem {
  font-size: 13px;
  line-height: 1;
  color: black;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
  cursor: pointer;
}

.DropdownMenuItem[data-highlighted] {
  background-color: rgb(31, 41, 55);
  color: white;
}

.buttonaside::after {
  position: absolute;
  content: '';
  display: block;

  bottom: -10px;
  left: 0;

  background: rgb(240, 240, 240);

  width: 100%;
  height: 2px;

  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.buttonaside:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.settingUnderline::after {
  position: absolute;
  content: '';
  bottom: -10px;
  left: 0;
  background: #138859;
  width: 100%;
  height: 2px;
}

// switch css
button {
  all: unset;
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: white;
  border-radius: 9999px;
  position: relative;
}

.SwitchRoot[data-state='checked'] {
  background-color: #138859;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: black;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--blackA7);
  transition: transform 100ms;
  transform: translateX(2px);
}

.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}
